


body {
    padding-top: 54px;
    background-color: #fff;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }

    .poster-preview {
        width: 300px;
        height:450px;
    }
}


#main {
    margin-top:10px;
}

.error404 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */

body, html{
    height: 100%;
    background-repeat: no-repeat;
    background-color: #fff;
}

.main{
    margin-top: 70px;
}


hr{
    color: #fff;
    width:100%;

}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    padding-top: 3px;
}

.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    padding: 40px 40px;

}

.login-button{
    margin-top: 5px;
}

.login-register{
    text-align: center;
}


.main-center > div {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.fa-user-circle {
    margin-right:3px;
}
ul.dropdown-menu li> *{
    margin-left:20px;
}

.dropdown-menu {
    border: none;
}

li.divider {
    height: 1px;
    padding: 0;
    background-color: rgba(255,255,255,.5);
}

.list-group-item > .key {
    float: left;
    width: 180px;
    margin:0;
    font-weight: bold;
}

.list-group-item .val {
    float: left;
    width: calc(100% - 180px);
    margin:0;
}

.film-image{
    display: block;
}

.film-description{
    margin-top:30px;
}

.add-form textarea {
    width: 100%;
}

.add-form input.full-width {
    width:100%;
}

.add-form select.full-width{
    width: 100%;
    height: 32px;
}

.add-form input.date-time {
    width:30%;
}

.poster-preview {
    width: 333px;
    height:500px;
    margin-left:10%;
}

h3 a {
    color:#212529;
}

h3 a:hover {
    color:#212529;
    text-decoration: none;
}

#selectDay {
    margin-bottom:10px;
}

#temp {
    height:500px;
    background: #ccc;
    margin-left:auto;
    margin-right:auto;
}



.hall {
    width: 100%;
    color: white;
}

.hall-screen{
    width: 90%;
    padding: 0 5%;
    margin: 5% auto;
    background-color: #FFE373;
    text-align: center;
    border-radius: 10px;
    letter-spacing: 15px;
    font-weight: bold;
}

.hall-row {
    width: 100%;
    margin: 1.8% 12.5%;
}

.seat {
    width: 5.5%; /*changing width and hegiht recalculate row margins*/
    height: 1.5rem;
    background-color: lightblue;
    text-align: center;
    margin: 0 0.4%;
    border-radius: 5px;
}

.seat:hover{
    opacity: 0.6;
    cursor: default;
}

.hall-row:last-child {
    margin: 2% 14.5%;
}

.hall-row.lux > .seat {
    background-color: #F1B2CF;
}

.hall-row.lux > .seat:nth-child(2n+1) {
    margin-right: -0.2%;
}

.hall-row:nth-child(1) div {
    background-color: #77BACB;
}

.hall-row:nth-child(2) div {
    background-color: #77ACCB;
}

.hall-row:nth-child(3) div {
    background-color: #779ECB;
}

.hall-row:nth-child(4) div {
    background-color: #7790CB;
}

.hall-row:nth-child(5) div {
    background-color: #7782CB;
}

.hall-row:nth-child(6) div {
    background-color: #7A77CB;
}
.session-time,.session-time:hover {
    color: #fb3635;
    font-size:18px;
    font-weight:bold;
    margin-right: 10px;
    margin-top: 2px;
}


form > h2,form > h3{
    text-align: center;
}

.hall-screen{
    width: 90%;
    padding: 0 5%;
    margin: 5% auto;
    background-color: #FFE373;
    text-align: center;
    border-radius: 10px;
    letter-spacing: 15px;
    font-weight: bold;
}

.selected-seat{
    background-color: #F5A623 !important;
    height:inherit;
    vertical-align: middle;
}

.sold{
    background-color: #ccc !important;
    height:inherit;
    vertical-align: middle;
    pointer-events: none;

}

#ticket-list{
    margin-top:5%;
    display: table;
    width:100%;
    display: none;
}

#ticket-list > span{
    width:32%;
    display: inline-block;
    font-weight:bold;
    text-align: center;
}
.choosed {
    text-align: center;
}
.choosed > span{
    width:32%;
    display: inline-block;
}

.successNotif{
    display: table;
    margin-top:5%;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    height:4rem;
    background-color: forestgreen;
    border-radius: .25rem;
    text-align: center;
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
}

.errorNotif{
    display: table;
    margin-top:5%;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    height:4rem;
    background-color: #E21C0E;
    border-radius: .25rem;
    text-align: center;
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
}
.successNotif > span,.errorNotif > span{

    vertical-align: middle;
    display: table-cell;
}


.form-group > div{
    margin-top:1.5%;
}

a#getMoreComments{
    color:white;
    margin-bottom:2%;
    display: block;
    margin-left:auto;
    margin-right:auto;

}

.media-body > .time {
    color: #6a6a6a;
    display: block;
}


.checked {
    color: orange;
}
.uchecked{
    color: orange;
}


.marks {
    margin-top:2%;
     display: block;
 }


th,td{
    text-align: center;
}

.avatar{
    width:30%;
}

img.d-flex.mr-3.rounded-circle {
    width:50px;
    height:50px;
}


img.current-img {
    width:50%
}












